<div id="login">
  <form class="card">
    <div class="card-header">
      <h2>CRM</h2>
    </div>

    <div class="card-content">
      <div class="card-content-area">
        <label for="usuario">Usuário</label>
        <input type="text" id="usuario" autocomplete="off" [(ngModel)]="model.username" name="name">
      </div>

      <div class="card-content-area">
        <label for="password">Senha</label>
        <input type="password" id="password" autocomplete="off" [(ngModel)]="model.password" name="password">
      </div>
    </div>

    <div class="card-footer">
      <button class="close submit" (click)="login()">Entrar</button>
      <a href="/recuperar-senha" class="recuperar_senha">Esqueceu a senha?</a>
    </div>
    <div *ngIf="isSubmitting" class="loginMessage">
      <h4>Efetuando login...</h4>
    </div>
  </form>
</div>
