<app-menu></app-menu>

<h3 mat-subheader>Trabalhadores</h3>
<mat-list class="workers">
  <mat-list-item *ngFor="let worker of (workers$ | async)">
    <div class="worker">
      <h4 mat-line>
        <mat-icon mat-list-icon>dialpad</mat-icon>{{worker.id}}
      </h4>
      <p mat-line name="nome">
        <label for="name">Nome:</label>
        <span name="name">
          <strong> {{worker.name}}</strong>
        </span>
      </p>
      <p mat-line name="dailyincome">
        <label for="dailyIncome">Renda Diária:</label>
        <span name="dailyIncome">
          <strong> R${{worker.dailyIncome.toFixed(2).replace('.', ',')}}</strong>
        </span>
      </p>
    </div>
  </mat-list-item>
  <div class="loading-indicator" *ngIf="isSubmitting">
    <mat-spinner color="info"></mat-spinner>
  </div>  
</mat-list>